
body{
  background-color: #b71c1c;
}

img.navbar-brand{
	width: 10%;
}

ul.navbar-nav{
	color:#b71c1c;
	margin-left:90%;
	font: Montserrat 150%;
		
}

.carousel .carousel-item {
    width: 100%;
    height: 90.5vh;
    background-size: cover;
    background-position: center;
}

.carousel .carousel-item:first-of-type {
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=260feb9ec5&attid=0.0.4&permmsgid=msg-f:1660059988581256299&th=1709b7c3a5398c6b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_nLfzIhjNpTFHqVTpze7FAjmaCqFHFnfQ-J9NGuB00AS1kF9WK8hZzKzIuB1NK88h4-832vflk8bQCaf4FOuFFqmXbxpy8xhrgpNUrdHXd5Pj2BukPN_QxKAw&disp=emb&realattid=ii_k7aiizb81");
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=260feb9ec5&attid=0.0.8&permmsgid=msg-f:1660059988581256299&th=1709b7c3a5398c6b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-yvrG9UFx3P7Cpvnduzo5ICwCm03XWSCJROwmpsApVRbpCk81IWRs71oO-6nq3C9lGccyLPOGX8OIsFcFdeC1ScCoxGWoza-CbJZC6E0S9V0ZQseDZZEBT3AE&disp=emb&realattid=ii_k7aiizcn8");
}

.carousel .carousel-item:last-of-type {
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=260feb9ec5&attid=0.0.9&permmsgid=msg-f:1660059988581256299&th=1709b7c3a5398c6b&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_6nhPPv3Dl3qnjFQXQRmz4RGiyPXefhdcE0gZGre-VZWZDBuaz6ZHI3295UzvRzhGGEBTX0zEvHDWgOOUBaSM9S4DgQUI5Qa4n3joegcXU82D7u8CGvcRZfAc&disp=emb&realattid=ii_k7aiizcs9");
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}
