<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Donalo *publicar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" ml-auto mt-lg-0>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/registro/formulario">Registro</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/login">Log In</a>
           </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> menu link </a>      
        			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        				<a class="dropdown-item" href="#">Cerrar sesión</a>
          				<a class="dropdown-item" href="#">Petición</a>
          				<a class="dropdown-item" href="#">Donar</a>
        			</div>
      			</li>
   		  </ul>
  	  </div>
  </nav>
</head>

  <body>
   <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/m1.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Crear tu publicación!</h2>
            
	<form action="/publicacion/publicar" method="POST" enctype="multipart/form-data">
		<p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
			<input type="hidden" name="id" th:value="${id}" />
		   	<input type="hidden" name="id_usuario" th:value="${id_usuario}" />
		   
		    
		
		   <label>Titulo</label>
		  <input type="text" class="form-control" name="titulo" />  <br />
		
		   
		  <label>Descripcion</label> 	 
			<textarea rows="" cols="" style="margin: 0px; height: 67px; width: 448px;"  name="descripcion" th:value="${descripcion}"></textarea><br />
		
		  <label>Foto</label>
		  <input type="file" class="form-control" name="archivo" />  <br />
		
		<p>Selecciona si tu publicacion es:</p>
			  <div>
			    <input type="radio" id="contactChoice1"
			     name="seleccion" value="true">
			    <label for="contactChoice1">Para Donar</label>
			
			    <input type="radio" id="contactChoice2"
			     name="seleccion" value="false">
			    <label for="contactChoice2">Para Solicitar</label>
			
			  </div>
		<!--   <label for="cbox1"><input type="checkbox" id="cbox1" value="${para_donar}"> Para Donar </label><br>

          <label for="cbox2"><input type="checkbox" id="cbox2" value="${para_solicitar}"> Para Solicitar</label>  <br /> -->
		  
		<button type="submit" class="btn btn-primary">Publicar</button>
	</form> 
	          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>