<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
    </head>
    <body>
    
    <form>
   
    
    <input type="text" placeholder="nombre">
    <input type="text" placeholder="apellidos">
     <input type="email" placeholder="mail">
    <input type="password" placeholder="clave">
    <input type="password" placeholder="clave repetir">
    
    
    </form>
    
    
    
    
    </body>
    </html>