<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

	<form action="/registro/registrar" method="POST" enctype="multipart/form-data">
		<p th:if="${error != null}" th:text="${error}" style="color: red;"></p>

		<label>Nombre</label> 
		<input type="text" class="form-control" name="nombre" th:value="${nombre}" />  <br />
			
		<label>Apellido</label> 
		<input type="text" class="form-control" name="apellido" th:value="${apellido}" /> <br /> 
			
		<label>E-Mail</label> 
		<input type="email" class="form-control" name="mail" th:value="${mail}" />  <br />
		
		<label>Foto</label>
		<input type="file" class="form-control" name="archivo" />  <br />
		
		<label>Clave</label>
		<input type="password" class="form-control" name="clave1" th:value="${clave1}" /> <br /> 
			
		<label>Repetir Clave</label> 
		<input type="password" class="form-control" name="clave2" th:value="${clave2}" /> <br />
		<button type="submit" class="btn btn-primary">Registrarme</button>

		<!--  <input type="text" name="nombre" th:value="${nombre}" placeholder="nombre">
	    <input type="text" name="apellido" th:value="apellido" placeholder="apellidos">
	    <input type="email" name="nombre" th:value="${nombre}"placeholder="mail">
	    <input type="password"name="nombre" th:value="${nombre}" placeholder="clave">
	    <input type="password"name="nombre" th:value="${nombre}" placeholder="clave repetir">-->


	</form>




</body>
</html>