<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Donalo *publicaciones</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/publicaciones.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>


<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"><img class="logo"
			src="/img/logo.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav" ml-auto mt-lg-0>
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/registro/formulario">Registro</a></li>
				<li class="nav-item"><a class="nav-link" href="/login">Log
						In</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> menu link </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/logout">Cerrar sesión</a> <a
							class="dropdown-item" href="/publicacion/publicaciones">Peticiones</a>
						<a class="dropdown-item" href="/publicacion/publicaciones">Donaciones</a>
					</div></li>
			</ul>
		</div>
	</nav>
</header>

<body>
	<p th:if="${error != null}" th:text="${error}" style="color: red;"></p>



<!-- Volver a comentar --> 
	 <!-- <form class="form-inline my-2 my-lg-0"

		action="/publicacion/publicaciones" method="GET">
		<input class="form-control mr-sm-2" type="search" placeholder="Buscar"
			aria-label="Buscar" name="q" th:value="${q}">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
			Buscar <i class="fa fa-search"></i>
		</button>
	</form>

	<section class="vip-products">
		<div class="publicaciones">
			<div class="row" th:each="publicacion : ${publicaciones}">
				<div class="card-body">
					<img th:src="@{/img/__${publicacion.foto.id}__}" class="w-100">
					<h5 class="card-title" th:text="${publicacion.titulo}">Product
						Name</h5>
					<p class="card-text" th:text="${publicacion.descripcion}">Product
						Description</p>

						
						 <form class="form-inline my-2 my-lg-0" action="/publicacion/mensaje" method="GET"> 
						<input type="hidden" name="idUsuario1" th:value="${publicacion.usuario.id}">
						    <a th:href ="@{/publicacion/mensaje}"><button class="contactar" type="button" style=color:#b71c1c;> Contactar </button></a>
				

					<a href="/publicacion/detalle" class="btn btn-outline-success w-100">Ver Publicacion</a>
				</div>
			</div>
		</div>
	</section> 



 


 <!--  	<section>
		<div class="container">
			<div class="col-xl-12">
				<h2 class="text-center text-white">Carousel 4 Column Product
					Slider</h2>
			</div>

			<div id="carouselFourColumn" class="carousel slide"
				data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselFourColumn" data-slide-to="0"
						class="active"></li>
					<li data-target="#carouselFourColumn" data-slide-to="1"></li>
					<li data-target="#carouselFourColumn" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" >
					<div class="carousel-item" th:each="publicacion : ${publicaciones}">
						<div class="row">
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="img." class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src=img. class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="img/4301.jpg" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-3 p-1">
								<div class="card">
									<img src="https://via.placeholder.com/300x250" class="w-100">
									<div class="card-body">
										<h5 class="card-title">Product Name</h5>
										<p class="card-text">Product Description</p>
										<a href="#" class="btn btn-outline-success w-100">Show</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselFourColumn"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselFourColumn"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>
	-->


	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Titulo</th>
				<th>Descripcion</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="publicacion : ${publicaciones}">
				<td th:text="${publicacion.titulo}"></td>
				<td th:text="${publicacion.descripcion}"></td>
				<td><a
					th:href="@{/publicacion/actualizar(id=${publicacion.id})}"><i
						class="fa fa-pencil"></i></a> - <a
					th:href="@{/pulicacion/eliminar(id=${publicacion.id})}"><i
						class="fa fa-trash"></i></a></td>

			</tr>
		</tbody>
	</table>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/carrousel.js"></script>
	<script>
		$('div.carousel-item:first').addClass('active');
	</script>
</body>
</html>