<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Donalo -Producto</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    

    </head>
  <!-- Just an image -->
  <header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" ml-auto mt-lg-0>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registro/formulario">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          menu link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Cerrar sesión</a>
          <a class="dropdown-item" href="#">Petición</a>
          <a class="dropdown-item" href="#">Donar</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</header>
<body>
    <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="card hovercard text-center">
            <div class="cardheader">
        <div class="col-lg-12 order-lg-2">
          <div class="imagen_publicacion">
           <img class="img-fluid rounded-circle" src="/img/perfil.jpeg" alt="">
          </div>
        </div>
        <div class="row ">   
        <div class="card-text-center">
         <div class="p-5">
          <h1 class="producto"> Producto </h1>
            <h2 class="card-text display-4" th:text="${titulo}" >Nombre </h2> 
            <p class="card-text" th:text="${descripcion}" ></p>
          </div>
      </div>
    </div>
</div>
</div>
</div>
  </section>
      
            <h2 class="descripcion" th:text="${descripcion}">Descripción del Producto</h2> 

            <p> En este espacio se va a recibir el id del producto con la descripción hecha por el usuario  </p> 
            
               <a href="mensaje.html"><button class="contactar" type="button" > Contactar </button></a> 
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        </div>
        
 
</body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


  
</html>