<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Donalo Registro</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="shortcut icon" href="https://i.ibb.co/3Yn1Q9X/favicon.png" type="image/png">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <img class="navbar-brand" src="https://fotos.subefotos.com/987390e9e8bcebd33c8a39765a9f637co.png">
	
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarNavDropdown">		
		<ul class="navbar-nav" ml-auto mt-lg-0>
		<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>      
        			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        				<a class="dropdown-item" href="/logout"; style=color:#b71c1c;>Cerrar sesión</a>
                    </div>
      			</li>
		<li class="nav-item"><a class="nav-link" href="/publicacion/publicaciones">Publicaciones</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/">Home</a>
			</li>
			
		</ul>
	</div>
</nav>

<body>
	<section>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="p-5">
						<img class="img-fluid rounded-circle" src="img/m1.jpeg" alt="">
					</div>
				</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4"style=color:#b71c1c;>Registrate!</h2>
						<form action="/registro/registrar" method="POST" enctype="multipart/form-data">
							<p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
						
							<label >Nombre</label> 
							<input type="text" class="form-control" name="nombre" th:value="${nombre}" /> <br/> 
							
							<label >Apellido</label>
							<input type="text" class="form-control" name="apellido"	th:value="${apellido}" /> <br/> 
							
							<label >E-Mail</label> 
							<input type="email" class="form-control" name="mail" th:value="${mail}" /><br/> 
							
							<label >Foto</label> 
							<input type="file"class="form-control" name="archivo" /> <br /> 
							
							<label >Clave</label>
							<input type="password" class="form-control" name="clave1" th:value="${clave1}" /><br/> 
							
							<label>Repetir Clave</label> 
							<input type="password" class="form-control" name="clave2"th:value="${clave2}" /><br/>
							
							<button type="submit" class="btn btn-primary" >Registrarme</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>